# part 2 chapter 5

## 머신러닝 다중 분류 실습

In [2]:
import pandas as pd
train = pd.read_csv("http://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part2/ch5/train.csv")
test = pd.read_csv("http://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part2/ch5/test.csv")

### EDA

In [3]:
train.shape, test.shape

((10000, 21), (10000, 20))

In [4]:
train.info(), test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Delay_from_due_date       10000 non-null  float64
 1   Num_of_Delayed_Payment    10000 non-null  float64
 2   Num_Credit_Inquiries      10000 non-null  float64
 3   Credit_Utilization_Ratio  10000 non-null  float64
 4   Credit_History_Age        10000 non-null  float64
 5   Payment_of_Min_Amount     10000 non-null  object
 6   Amount_invested_monthly   10000 non-null  float64
 7   Monthly_Balance           10000 non-null  float64
 8   Credit_Score              10000 non-null  int64
 9   Credit_Mix                10000 non-null  object
 10  Payment_Behaviour         10000 non-null  object
 11  Age                       10000 non-null  float64
 12  Annual_Income             10000 non-null  float64
 13  Num_Bank_Accounts         10000 non-null  float64
 14  Num_Credit_Card           10000 non-null  float64
 15  Interest_Rate             10000 non-null  float64
 16  Num_of_Loan               10000 non-null  float64
 17  Monthly_Inhand_Salary     10000 non-null  float64
 18  Changed_Credit_Limit      10000 non-null  float64
 19  Outstanding_Debt          10000 non-null  float64
 20  Total_EMI_per_month       10000 non-null  float64
dtypes: float64(17), int64(1), object(3)
memory usage: 1.6+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Delay_from_due_date       10000 non-null  float64
 1   Num_of_Delayed_Payment    10000 non-null  float64
 2   Num_Credit_Inquiries      10000 non-null  float64
 3   Credit_Utilization_Ratio  10000 non-null  float64
 4   Credit_History_Age        10000 non-null  float64
 5   Payment_of_Min_Amount     10000 non-null  object
 6   Amount_invested_monthly   10000 non-null  float64
 7   Monthly_Balance           10000 non-null  float64
 8   Credit_Mix                10000 non-null  object
 9   Payment_Behaviour         10000 non-null  object
 10  Age                       10000 non-null  float64
 11  Annual_Income             10000 non-null  float64
 12  Num_Bank_Accounts         10000 non-null  float64
 13  Num_Credit_Card           10000 non-null  float64
 14  Interest_Rate             10000 non-null  float64
 15  Num_of_Loan               10000 non-null  float64
 16  Monthly_Inhand_Salary     10000 non-null  float64
 17  Changed_Credit_Limit      10000 non-null  float64
 18  Outstanding_Debt          10000 non-null  float64
 19  Total_EMI_per_month       10000 non-null  float64
dtypes: float64(17), object(3)
memory usage: 1.5+ MB

(None, None)

In [5]:
train.describe(include='O')
test.describe(include='O')

       Payment_of_Min_Amount Credit_Mix               Payment_Behaviour
count                  10000      10000                           10000
unique                     3          3                               6
top                      Yes   Standard  Low_spent_Small_value_payments
freq                    5167       4590                            3498

In [6]:
train.isnull().sum(), test.isnull().sum()

(Delay_from_due_date         0
 Num_of_Delayed_Payment      0
 Num_Credit_Inquiries        0
 Credit_Utilization_Ratio    0
 Credit_History_Age          0
 Payment_of_Min_Amount       0
 Amount_invested_monthly     0
 Monthly_Balance             0
 Credit_Score                0
 Credit_Mix                  0
 Payment_Behaviour           0
 Age                         0
 Annual_Income               0
 Num_Bank_Accounts           0
 Num_Credit_Card             0
 Interest_Rate               0
 Num_of_Loan                 0
 Monthly_Inhand_Salary       0
 Changed_Credit_Limit        0
 Outstanding_Debt            0
 Total_EMI_per_month         0
 dtype: int64,
 Delay_from_due_date         0
 Num_of_Delayed_Payment      0
 Num_Credit_Inquiries        0
 Credit_Utilization_Ratio    0
 Credit_History_Age          0
 Payment_of_Min_Amount       0
 Amount_invested_monthly     0
 Monthly_Balance             0
 Credit_Mix                  0
 Payment_Behaviour           0
 Age                         0
 Annual_Income               0
 Num_Bank_Accounts           0
 Num_Credit_Card             0
 Interest_Rate               0
 Num_of_Loan                 0
 Monthly_Inhand_Salary       0
 Changed_Credit_Limit        0
 Outstanding_Debt            0
 Total_EMI_per_month         0
 dtype: int64)

In [7]:
train.head()

,Delay_from_due_date,Num_of_Delayed_Payment,Num_Credit_Inquiries,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Amount_invested_monthly,Monthly_Balance,Credit_Score,Credit_Mix,...,Age,Annual_Income,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Monthly_Inhand_Salary,Changed_Credit_Limit,Outstanding_Debt,Total_EMI_per_month
0,56.0,16.0,11.0,35.598217,120.0,Yes,229.093478,252.385965,1,Bad,...,15.0,36597.56,8.0,10.0,29.0,5.0,3143.796667,22.49,2963.18,122.900223
1,49.0,23.0,12.0,25.553106,120.0,Yes,104.613906,219.105944,1,Bad,...,28.0,32057.30,9.0,8.0,16.0,7.0,2606.441667,1.40,1327.26,164.859426
2,34.0,20.0,6.0,40.039954,174.0,Yes,338.626965,251.265589,1,Bad,...,46.0,75868.80,6.0,10.0,32.0,7.0,6074.400000,3.60,1432.71,297.547446
3,21.0,13.0,8.0,25.711678,143.0,NM,116.816864,259.927960,2,Standard,...,46.0,17092.69,7.0,3.0,19.0,7.0,1695.390833,16.40,1417.06,62.794260
4,19.0,13.0,6.0,39.140463,138.0,Yes,87.262887,626.212330,1,Bad,...,45.0,81471.96,6.0,6.0,25.0,5.0,6763.330000,27.09,2679.69,202.857783

In [8]:
train['Credit_Score'].value_counts()

Credit_Score
2    5237
1    2978
3    1785
Name: count, dtype: int64

### 데이터 전처리

In [9]:
target = train.pop('Credit_Score')
cols = train.columns[train.dtypes == object]
cols

Index(['Payment_of_Min_Amount', 'Credit_Mix', 'Payment_Behaviour'], dtype='object')

In [10]:
train['Payment_of_Min_Amount'] = train['Payment_of_Min_Amount'].astype('category')
train['Credit_Mix'] = train['Credit_Mix'].astype('category')
train['Payment_Behaviour'] = train['Payment_Behaviour'].astype('category')

test['Payment_of_Min_Amount'] = test['Payment_of_Min_Amount'].astype('category')
test['Credit_Mix'] = test['Credit_Mix'].astype('category')
test['Payment_Behaviour'] = test['Payment_Behaviour'].astype('category')

train[cols].info(), train[cols].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Payment_of_Min_Amount  10000 non-null  category
 1   Credit_Mix             10000 non-null  category
 2   Payment_Behaviour      10000 non-null  category
dtypes: category(3)
memory usage: 29.9 KB

(None,
   Payment_of_Min_Amount Credit_Mix                 Payment_Behaviour
 0                   Yes        Bad  High_spent_Medium_value_payments
 1                   Yes        Bad   High_spent_Small_value_payments
 2                   Yes        Bad    Low_spent_Large_value_payments
 3                    NM   Standard   High_spent_Small_value_payments
 4                   Yes        Bad  High_spent_Medium_value_payments)

### 검증 데이터 나누기

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(train, target, test_size=0.2, random_state=0)
X_train.shape, X_val.shape, y_train.shape, y_val.shape

((8000, 20), (2000, 20), (8000,), (2000,))

### 머신러닝 학습 및 평가

In [12]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score

In [13]:
# RandomForest: category 인식 못함
# from sklearn.ensemble import RansomForestClassifier
# rf = RandomForestClassfier(random_state = 0)
# rf.fit(X_train, y_train)

In [14]:
import lightgbm as lgb
lgbmc = lgb.LGBMClassifier(random_state=0, verbose=-1)
lgbmc.fit(X_train, y_train)
pred = lgbmc.predict(X_val)
pred

array([2, 2, 2, ..., 3, 2, 2], shape=(2000,))

In [15]:
accuracy = accuracy_score(y_val, pred)
print('accuracy_score:', accuracy)

f1 = f1_score(y_val, pred, average='macro')
print('f1_score:', f1)

accuracy_score: 0.6985
f1_score: 0.6777379561595467

### 예측 밒 결과 파일 생성

In [16]:
pred = lgbmc.predict(test)
pred

array([2, 1, 1, ..., 1, 1, 2], shape=(10000,))

In [17]:
submit = pd.DataFrame({'pred':pred})
submit.to_csv('result_ex5.csv', index=False)